
<h2>Log-In to cardbox_app</h2>

<%= form_tag session_path do %>
  <%= text_field_tag :email, "user@test.com" %>
  <%= password_field_tag :password, "password" %>
  <%= submit_tag %>
<% end %>

<div>
    <h4>Alert:
    <%= flash.now[:alert] %>
    </h4>
    <h4>Notice:
    <%= flash.now[:notice] %>
    </h4>
</div>