<h1>Profile page</h1>

<div class="profile header">
  <%= current_user.email %> is logged in.
  <form action="/logout" method='post'>
    <%= token_tag %>
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-primary" type='submit'>Log Out</button>
  </form>
</div>
<hr>
<div class="img" id="me">
  <img src="<%= current_user.image_url%>" alt="Profile Picture" />
</div>

<div class="cards container">

  <% current_user.cards.each do |card| %>
  <div class="saved card">
    <img class="business-card" src="<%= card.email.attachment_url %>">
    <p><%= card.email.message %></p>
    <div class="contact info">
      <form>
        <input type="text" name="name" placeholder="John Smith">
        <input type="text" name="email" placeholder="JSmith@gmail.com">
        <input type="text" name="linkedIn" placeholder="LinkedIn ID">
        <input type="submit" type="update">
        <!-- add more for fields for if including more data on contact -->
      </form>
    </div>
  </div>

</div>
<% end %>

</div>


