
<!-- if the current_user has supplied a pin, then hide a field
    otherwise, render a field and prompt to input the key.  save the pin to
    the database.  -->

<% unless current_user.pin %>
  <h1>STEP 1: GET PIN</h1>
  <div class="linkedin_pin">
        <%= link_to "get pin", @authorize_url, target: '_blank' %>
<!--         <form action="/authorize" method="get">
          <%= token_tag %>
          <input type="submit" value="get more info from linkedin">
        </form> -->
        <%= @url %>
  </div>
  <h1>STEP 2: SET PIN</h1>
  <div>
      <%= form_for current_user, remote: true do |f| %>
        <%= f.text_field :pin %>
        <%= f.submit "set pin" %>
      <% end %>
  </div>
<% end %>
<hr>



<button class="show-cards">Show Saved Cards</button>
<button class="hide-cards">Hide Saved Cards</button>
<button class='show-contacts'>Show Contacts</button>
<button class='hide-contacts'>Hide Contacts</button>

<div id="contacts-container">
</div>


<div id="cards-container">
<!--   <% current_user.cards.each do |card| %>
  <div class="saved-card">
    <div class="card-image">
        <%= image_tag(card.email.attachment_url, class: 'business-card') %>
        <p>" <%= card.email.message %> "</p>
    </div>
    <div class="contact-info">
      <%= form_for :contact, :url => '/contacts' do |f|%>

        <%= f.label :name %>
        <%= f.text_field :name, :value => card.email.subject %><br>
        <%= f.label :email %>
        <%= f.text_field :email %><br>
        <%= f.label :linkedin_id %>
        <%= f.text_field :linkedin_id %><br>
        <%= f.label :phone %>
        <%= f.text_field :phone %><br>
        <%= f.label :location %>
        <%= f.text_field :location %><br>
        <%= f.label :note %>
        <%= f.text_area :note, :value => card.email.message %><br>
        <%= f.label :network %>
        <%= f.text_field :network %><br>
        <%= f.label :card_image_url %>
        <%= f.text_field :card_image_url, :value => card.email.attachment_url %><br>
        <%= f.label :card_received_date %>
        <%= f.text_field :card_received_date, :value => card.email.created_at %><br>
        <%= f.label :user_id %>
        <%= f.text_field :user_id, :value => current_user.id %>
        <%= f.submit %>

      <% end %>

    </div>
  </div>

  <% end %> -->
</div>

