


<!-- Carousel
================================================== -->

<div id="myCarousel" class="carousel slide" style="margin-top:130px">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="/assets/example/bg_suburb.jpg" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Welcome to the App</h1>
          <pthis is="" an="" example="" layout="" with="" carousel="" that="" uses="" the="" bootstrap="" 3="" styles.<="" small=""><p></p>
          <p><a class="btn btn-lg btn-primary" href="http://getbootstrap.com">Learn More</a>
        </p></pthis></div>
      </div>
    </div>
    <div class="item">
      <img src="http://lorempixel.com/1500/600/abstract/1" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>The Future</h1>
          <p>.</p>
          <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1500X500" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <!-- <h1>Percentage-based sizing</h1> -->
          
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  
</div>

<!-- /.carousel -->
<!-- 

<div class="welcome start">

    <% if current_user %>
        <p>Logged in as <%= current_user.email %></p>
        <%= link_to "LogOut", logout_path, method: :delete %>
    <% else %>
        <%= link_to 'SignUp', signup_path %> or
        <%= link_to "Sign in with Linkedin", "/auth/linkedin", id: "sign_in" %> or
        <%= link_to 'LogIn', login_path %>
    <% end %>

</div>
 -->

<button class='show-contacts-on-map'>Show Contacts on Map</button>
<!--
<div id="map-canvas"/> -->



<hr>
<h2> Please Sign in to use this App</h2>

