<p>views/welcome/index.html.erb</p>


<div class="welcome start">
  <div>
    <a href="/signup">Sign up</a>
     <%= link_to "Sign in with Linkedin", "/auth/linkedin", id: "sign_in" %>
  </div>

  <div>
    <h2>Log-In to cardbox_app</h2>

    <%= form_tag session_path do %>
      <%= text_field_tag :email %>
      <%= password_field_tag :password %>
      <%= submit_tag %>
    <% end %>

  </div>

</div>
