<h1>contacts->index.html.erb</h1>


<% current_user.contacts.each do |contact| %> <!-- no relation, join table or add user_id to table? -->
    <div class="friend">
        <div class="front">
            <a href="/"><img src="<%= contact.card_image_url %>" alt="Avatar"></a>
        </div>
        <div class="back">
            <span class="contact-name"><%= contact.name %></span>
            <span class="contact-email"><%= contact.email %></span>
            <span class="contact-phone"><%= contact.phone %></span>
            <span class="contact-linkedinid"><%= contact.linkedin_id %></span>
            <div class="actions">
                <link_to "Show" />
            </div>
        </div>
    </div>
<% end %>
