<h1>contacts/index.html.erb</h1>


<% current_user.contacts.each do |contact| %>
    <div class="contact">
        <div class="front">
            <a href="/"><img class='contact-card'src="<%= contact.card_image_url %>" alt="Avatar"></a>
        </div>
        <div class="back">
            <span class="contact-name"><%= contact.name %></span><br>
            <span class="contact-email"><%= contact.email %></span><br>
            <span class="contact-phone"><%= contact.phone %></span><br>
            <span class="contact-linkedinid"><%= contact.linkedin_id %></span><br>
            <div class="actions">
                <link_to "Show" />
            </div>
        </div>
    </div>
<% end %>
