<!DOCTYPE html>
<html>
<head>
  <title>Business Cards Organizer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
     <header>
        <h1>Welcome to the Future - Business Cards Organizer</h1>
    </header>

  <% if current_user %>
  <div class="img" id="me">
    <img id="my_avatar" src="<%= current_user.image_url %>" alt="Profile Picture" />
  <%= current_user.email %> is logged in.
    <form action="/logout" method='post'>
      <%= token_tag %>
      <input type="hidden" name="_method" value="delete">
      <button class="btn btn-primary" type='submit'>Log Out</button>
    </form>
  </div>
      <ul id="nav">
        <li><a href="/profile">Cards</a></li>
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="/">Networks</a></li>
      </ul>
        <% end %>
    </div>

    <%= yield %>

</body>
</html>
