
<% current_user.contacts.each do |contact| %>
    <div class="contact">
        <div class="front">
            <a href="/"><img class='contact-card'src="<%= contact.card_image_url %>" alt="Avatar"></a>
        </div>
        <div class="back">
            <span class="contact-name"><%= contact.name %></span><br>
            <span class="contact-email"><%= contact.email %></span><br>
            <span class="contact-phone"><%= contact.phone %></span><br>
            <span class="contact-linkedinid"><%= contact.linkedin_id %></span><br>
            <div class="actions">
                <link_to "Show" />
            </div>
        </div>
    </div>
<% end %>


<script>

($('<div>').attr('class','contact').append(($('<div>').attr('class','front')))).append($('<img>').attr('src', 'this.model.card_image_url'))

$('.contact').append($('<div>').attr('class','back').append($('<span>').attr('class', 'contact-name').text(this.model.name)
$('.back').append($('<span>').attr('class', 'contact-email').text(this.model.email))
$('.back').append($('<span>').attr('class', 'contact-phone').text(this.model.phone))
$('.back').append($('<span>').attr('class', 'contact-linkedinid').text(this.model.linkedinid))
$('.back').append($('<span>').attr('class', 'contact-location').text(this.model.location))
$('.back').append($('<span>').attr('class', 'contact-network').text(this.model.network))

</script>
